*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: bisque;
}



p{ 
  background-color: bisque;
  text-align: center;
  padding: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

nav{
background-color: bisque;
    text-align: center;
    padding: 2%;
}

.violetsuper{
background-color: violet;
}